
@font-face {
    font-family: "retro";
    src: url('/font/Retrogression-Regular.otf') format("opentype");
    font-style: normal;
}


@font-face {
    font-family: "fira";
    src: url('font/FiraCode-VariableFont_wght.ttf') format("truetype");
    font-style: normal;
}

.fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;

    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;  

}

h1 {
    font-family: "retro", monospace;
    font-size: 24px;
}

p {
    font-family: "fira", monospace;
    font-size: 12px;
}

nav {
   font-family: "fira", monospace;
   font-size: 12px; 

   color: black;
}


.frame {
    width: 55vw;
    height: 60vh;
    border: 1px solid black;

    position: relative;
    overflow-y: auto;  
}

.project {
    height: 24px;
    width: 24px;
    position: absolute;
}

#p1 {
    background-color: aqua; 
    top: 20%;
    left: 40%;
}

#p2 {
    background-color: purple; 
    top: 70%;
    left: 50%;
}

#p3 {
    background-color: pink; 
    top: 25%;
    right: 50%;
}

#p4 {
    background-color: greenyellow;
    top: 15%;
    left: 600%; 
}

#p5 {
    background-color: red; 
    top: 500%;
    left: 200%; 
}

#p6 {
    background-color: orange; 
    top: 100%;
    left: 700%;
}

#p7 {
    background-color: blueviolet; 
    bottom: 300%;
    left: 900%;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.row {
    display: flex;
}

.frame-scroll {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;      
}

.sidebar {
    width: 200px;
    flex-shrink: 0;
    margin: 100px;
    background: white;

    position: sticky;   
    top: 100px;             
    height: fit-content;
}

.content {
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    flex: 1;                
    min-width: 0;
}

.link {
    font-family: "retro";
    font-size: 20px;
    color: black;
}



